@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/*
 ===========================
 Header section
 ===========================
 */

header{
    background-color: #F6F9F9;
    padding: 28px 0px;
    overflow: hidden;
}

/*************logo**************/
.logo{
    max-width: 20%;
    flex-basis: 20%;
}
.logo img{}


/*************Nav**************/
nav{
    max-width: 80%;
    flex-basis: 80%;
}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{font-weight: bold;
    font-size: 16px;
    color: #2d3950;
    padding: 12px;
    display: block;}
nav ul li a:hover{
    color: #15A4FA;
}


 /*
 =======================================
 Banner section
 ===========================
 */

.banner-section{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-section .row{
    justify-content: center;
    min-height: 90vh;
    align-items: center;
}
.banner-content{
    max-width: 55%;
    flex-basis: 55%;
    text-align: center;
}



.banner-content h1{
    font-size: 120px;
    color: #fff;
    margin-bottom: 15px;
}
.banner-content span{
    width: 100%;
    height: 2px;
    background-color: #15a4fa;
    display: block;
}
.banner-content p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 35px;
}
.banner-content button{
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: 1px solid #15a4fa;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
}

.banner-content button:hover {

    background-color: #15a4fa;
    border: 1px solid #999;
    color: #fff;
    box-shadow: 3px 5px 5px #00000070;
}

.banner-section .arrow{
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translate(-50%);
}
.arrow a{
    color:#fff;
    font-size: 30px;
}

/*
 =======================================
 About section
 ===========================
 */

section.about-section{
    background: #f6f9f9;
    padding: 50px 0 70px;
}

.about-section .heading {
    text-align: center;
    padding-top: 20px;
}

.about-section .heading h2{
    color: #2d3950;
    font-size: 40px;
    font-weight: 500;
}
.about-section .heading p{
    font-size: 20px;
    color: #999999;
    margin-top: 32px;
}



/*
 =======================================
 Features section
 ===========================
 */

section.features-section{}
.features-section .col{
    max-width: 33.33%;
    flex-basis: 33.33%;
    text-align: center;
    padding: 65px 30px;
}
.col .feature-icon{
    width: 100px;
    height: 100px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,2989d8+50,207cca+51,5fc3ff+100 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5fc3ff+50,48baff+50 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(95,195,255,1) 50%,rgba(72,186,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
    font-size: 60px;
    line-height: 100px;
    color: #fff;
    text-shadow: 1px 2px 3px #00000052;
    margin: 0 auto;
}
.col .feature-content{}
.feature-content h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #2d3950;
}
.feature-content p{}

/*
 =======================================
 Showcase section
 ===========================
 */

section.showcase-section{
    background: #F6F9F9;
    padding: 50px 0px 100px 0px;
}

.showcase-section .heading {
    text-align: center;
    padding-top: 30px;
}

.showcase-section .heading h2{
    color: #2d3950;
    font-size: 40px;
}
.showcase-section .heading p{
    font-size: 20px;
    color: #999999;
    padding-top: 30px;
    padding-bottom: 60px;
}


/*
 =======================================
 Showcase
 ===========================
 */

.showcase-section .showcase{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 15px;
}
.showcase .showcase-details{
    position: relative;
}
.showcase-details img{}

.showcase-details .overlay{
    width: 100%;
    height: 0%;
    position: absolute;
    background: #15a4fad9;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
}
.showcase-details:hover .overlay{
    opacity: 1;
    height: 100%;
}
.showcase .plus{
    position: absolute;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 4px;
    left: 42%;
    top: 60%;
    transform: translate(-42%, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.showcase-details:hover .plus {
    opacity: 1;
    top: 50%;
}

.showcase .link{
    position: absolute;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 4px;
    right: 42%;
    top: 60%;
    transform: translate(42%, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.showcase-details:hover .link{
    opacity: 1;
    top: 50%;
}

/*
 =======================================
 Contact section
 ===========================
 */

section.contact-section{
}
.contact-content{
    position: relative;
}

.contact-content img{
    height: 650px;
    width: auto;
}
.contact-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2d3950e0;
}

.contact-section .heading{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10px);
    z-index: 1;
    text-align: center;
}

.contact-section .heading h2{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.contact-section .heading p{
    
color: #999;
    
margin-top: 12px;
}

/*
 =======================================
 Contact form
 ===========================
 */

.contact-form{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -66%);
    z-index: 1;
    max-width: 45%;
}

.contact-form form{}
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 18px 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #999;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}


.contact-form form ul{
    align-items: center;
    margin-top: 8px;
}
.contact-form form ul li{
    max-width: 50%;
    flex-basis: 50%;
    margin-top: 0px;
}
.contact-form form ul li input{}
.contact-form form ul li input[type="checkbox"]{
    width: auto;
}
.contact-form form ul li input[type="submit"]{
    width: auto;
    float: right;
    font-size: 18px;
    padding: 13px 50px;
    cursor: pointer;
    border-color: #15a4fa;
    color: #fff;
    border-radius: 4px;
}
.contact-form form ul li label{
    color: #fff;
    margin-left: 10px;
}



/*
 =======================================
 footer section
 ===========================
 */



footer{
    padding: 25px 0px;
    background-color: #F6F9F9;
}
.copyright{
    max-width: 50%;
    flex-basis: 50%;
}
.copyright p{
    color: #999;
    font-size: 14px;
    line-height: 30px;
}
.copyright a{
    color: #999;
}
.social-list{
    max-width: 50%;
    flex-basis: 50%;
}
.social-list ul {
    justify-content: flex-end;
}
.social-list ul li{}

.social-list ul li a{
    width: 40px;
    height: 40px;
    display: block;
    background-color: #15a4fa;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 0.4s;
}

.social-list ul li a:hover{
    background-color: #000;
}


